/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

deploy.sh
gdeploy.sh
send.sh
google_send.sh
exclude.txt
/public/profile-images/*
!/public/profile-images/default
